<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exam Not Available</title>
</head>
<body>
    <h1 style="color:red; text-align:center; margin-top:60px;">
        Sorry! There are currently no questions available for this exam.<br>
        Please contact your instructor or try again later.
    </h1>
</body>
</html>
