<!DOCTYPE html>
<html>
<head>
    <title>Online Exam - Home</title>
</head>
<body>
    <h1>Welcome to Online Exam</h1>

    <p><a href="/signup">Signup</a> | <a href="/login">Login</a></p>
</body>
</html>
